.footer {
  background-color: #ffe1db;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

.column {
  flex: 1 1 200px; /* Flex-grow, flex-shrink, and minimum width */
  margin: 10px;
  min-width: 200px; /* Ensures a minimum width for each column */
}

.column h3 {
  margin-bottom: 10px;
}

.item-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-wrap img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.column img {
  margin: 5px;
  width: 24px;
  height: 24px;
}

/* Responsive design */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 100%;
    text-align: center;
  }

  .item-wrap {
    justify-content: center;
  }
}
